<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Suite Test Web">
    <parameter name="url" value="https://www.saucedemo.com"/>
    <parameter name="username" value="standard_user"/>
    <parameter name="password" value="secret_sauce"/>
    <test name="Test">
        <classes>
           <class name="com.juaracoding.PageObjectFactory.hook.Hook"/>
           <class name="com.juaracoding.PageObjectFactory.pages.LoginPageTest"></class>
        </classes>
    </test>
</suite>